Criador de Eventos IA Telegram.json
{
  "name": "Criador de Eventos IA Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -272,
        0
      ],
      "id": "7ca2b014-c8a9-479e-a8b7-722959c190bd",
      "name": "Telegram Trigger",
      "webhookId": "92d25fe8-c7d9-47aa-a56f-b82ea5982362",
      "credentials": {
        "telegramApi": {
          "id": "jgTFLkAjlHR4c665",
          "name": "Criador de Eventos"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-1.5-pro-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-1.5-pro-latest"
        },
        "messages": {
          "values": [
            {
              "content": "=### TAREFA\nVocê é um especialista em analisar textos para agendar eventos. Sua função é extrair \"titulo\", \"data\", \"hora\" e \"hora_fim\" do texto do usuário e formatá-los em um objeto JSON.\n\n### REGRAS\n1.  **Formato da Data:** A data deve ser SEMPRE no formato AAAA-MM-DD.\n2.  **Formato da Hora:** A hora deve ser SEMPRE no formato HH:MM (formato 24h).\n3.  **Data Padrão:** Se a data não for mencionada, use a data de hoje: {{ $today }}.\n4.  **Hora Padrão:** Se a hora de início não for mencionada, use \"09:00\".\n5.  **Hora de Fim Padrão:** Se a duração ou hora de fim não forem mencionadas, a \"hora_fim\" deve ser exatamente 1 hora após a \"hora\" de início.\n\n### EXEMPLO\n- **Texto do Utilizador:** \"Marcar reunião sobre N8N com a equipa na próxima sexta-feira às 14h\"\n- **Sua Resposta:**\n{\n  \"titulo\": \"Reunião sobre N8N com a equipa\",\n  \"data\": \"2025-09-19\",\n  \"hora\": \"14:00\",\n  \"hora_fim\": \"15:00\"\n}\n\n### SAÍDA\nAnalise o \"Texto do Utilizador\" abaixo e retorne APENAS o objeto JSON final. Não inclua ```json, explicações ou qualquer outra palavra.\n\nTexto do Utilizador: \"{{$json.message.text}}\""
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -48,
        0
      ],
      "id": "63b97963-82ec-4957-af33-eceb69265cb3",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pega o item que vem do nó anterior (a resposta da IA)\nconst item = items[0];\n\n// Pega o texto bruto da resposta da IA\nconst rawText = item.json.content.parts[0].text;\n\n// Usa uma expressão regular para encontrar o bloco JSON,\n// independentemente de espaços ou quebras de linha extras.\nconst match = rawText.match(/\\{[\\s\\S]*\\}/);\n\n// Verifica se um bloco JSON foi encontrado\nif (match && match[0]) {\n  try {\n    // Tenta \"traduzir\" o texto JSON encontrado para dados reais\n    const parsedData = JSON.parse(match[0]);\n    // Devolve os dados organizados com sucesso\n    return [{ json: parsedData }];\n  } catch (error) {\n    // Se a \"tradução\" falhar, devolve um erro claro\n    return [{ json: { error: \"O texto encontrado não é um JSON válido.\", content: match[0] } }];\n  }\n}\n\n// Se nenhum bloco JSON for encontrado no texto\nreturn [{ json: { error: \"Nenhum bloco JSON encontrado na resposta da IA.\" } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "id": "3bf14bfb-cdb2-4f81-9d7a-debab34f20c5",
      "name": "Code"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "seuemailaqui@gmail.com",
          "mode": "list",
          "cachedResultName": "seuemailaqui@gmail.com"
        },
        "start": "={{$json.data}}T{{$json.hora}}:00-03:00",
        "end": "={{$json.data}}T{{ $json.hora_fim }}:00-03:00",
        "additionalFields": {
          "summary": "={{$json.titulo}}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1280,
        -16
      ],
      "id": "0aae9d6f-0c57-4f66-a7f5-960f6bb52393",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### TAREFA\nVocê é um assistente de confirmação de eventos. Sua única função é criar uma mensagem de sucesso amigável para o usuário com base nos dados do evento que foram criados no calendário.\n\n### DADOS DO EVENTO CRIADO\n- Título: {{ $json.summary }}\n- Início: {{ $json.start.dateTime }}\n- Fim: {{ $json.end.dateTime }}\n\n### REGRAS PARA A MENSAGEM\n1.  **Formato Base:** A mensagem deve seguir o formato: \"O evento '[Título]' para o dia DD/MM/AAAA às HH:MM foi criado com sucesso!\"\n2.  **Use o Horário de Início:** Você DEVE usar a data e a hora de **Início** para preencher a mensagem. Ignore completamente a data e a hora de Fim.\n3.  **Regra da Hora Padrão:** Se a hora de **Início** for exatamente \"09:00\", omita a parte \"às HH:MM\" da mensagem. A frase final deve ser: \"O evento '[Título]' para o dia DD/MM/AAAA foi criado com sucesso!\"\n4.  **Formatação:** A data deve ser formatada como DD/MM/AAAA e a hora como HH:MM. Adicione um emoji de sucesso (✅ ou 🗓️) no final.\n\n### EXEMPLOS\n- **Dados:** { \"summary\": \"Reunião de Equipa\", \"start\": { \"dateTime\": \"2025-09-19T14:00:00-03:00\" } }\n- **Saída Esperada:** O evento \"Reunião de Equipa\" para o dia 19/09/2025 às 14:00 foi criado com sucesso! ✅\n\n- **Dados:** { \"summary\": \"Ligar para o cliente\", \"start\": { \"dateTime\": \"2025-09-20T09:00:00-03:00\" } }\n- **Saída Esperada:** O evento \"Ligar para o cliente\" para o dia 20/09/2025 foi criado com sucesso! 🗓️\n\n### SAÍDA FINAL\nAgora, crie a mensagem de confirmação para os dados fornecidos. Retorne APENAS a mensagem final, sem nenhuma outra palavra ou explicação.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1440,
        -16
      ],
      "id": "839eb9d2-ecbc-46c1-a5d9-410a813461c8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1440,
        144
      ],
      "id": "160541ff-ec7a-40e1-b7ae-78f689a3c6f4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1744,
        -16
      ],
      "id": "46d83612-31b1-42d0-8af2-3ff81cff0073",
      "name": "Send a text message",
      "webhookId": "4c7abe9c-5129-44c5-b100-222591be5790",
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Criador de Eventos"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "lucasnorbertomoreira@gmail.com",
          "mode": "list",
          "cachedResultName": "seuemailaqui@gmail.com"
        },
        "eventId": "={{ $('Create an event').item.json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1584,
        144
      ],
      "id": "7157f9ab-68b8-4fa3-ac97-a84ccc78d56e",
      "name": "Get an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "de911553-9fa4-403a-b1a5-dbd9089475fb",
              "leftValue": "={{ $json.hora }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "dc61e8f9-7171-4b0e-8830-cd66157cf2f6",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        688,
        0
      ],
      "id": "932c0f3c-0b32-4018-a9a6-55c06167c087",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "e6e4e15b-feeb-4bd5-9479-650f139b506f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dac4cbd5-14ef-47a5-b418-f803d3dd143b",
                    "leftValue": "={{ $json.hora }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        880,
        112
      ],
      "id": "098fab3a-22f6-4040-b6bd-5bd9a9e44132",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "03b53531-36c3-4d7e-9dca-3b951604db8d",
              "name": "data",
              "value": "={{ $today }}",
              "type": "string"
            },
            {
              "id": "5bc6a226-ac20-49f5-bac9-30c80658aec9",
              "name": "hora",
              "value": "={{ $('Code').item.json.hora }}",
              "type": "string"
            },
            {
              "id": "b64dfc25-9cea-4ad8-be22-9d3ce6be0e5a",
              "name": "titulo",
              "value": "={{ $('Code').item.json.titulo }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        80
      ],
      "id": "298adc3e-d8f3-41ab-9b13-a7475fc081eb",
      "name": "Editar Data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "03b53531-36c3-4d7e-9dca-3b951604db8d",
              "name": "hora",
              "value": "09:00",
              "type": "string"
            },
            {
              "id": "e56ae8e7-f61f-42c1-ada0-ec53366b2fc8",
              "name": "titulo",
              "value": "={{ $json.titulo }}",
              "type": "string"
            },
            {
              "id": "570712e3-6142-4335-9e23-41dc732e80da",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        224
      ],
      "id": "aa60bf02-76eb-41e3-90c3-23788ca48576",
      "name": "Editar Hora"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.content.parts[0].text }}",
                    "rightValue": "=false",
                    "operator": {
                      "type": "boolean",
                      "operation": "notEquals"
                    },
                    "id": "4aaf6ff4-5aaf-4c67-b812-235d2e29b8b3"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        304,
        0
      ],
      "id": "b61d5873-8f68-47a7-8ad1-f0a6f118de4b",
      "name": "Switch1"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Editar Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Editar Hora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editar Data": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editar Hora": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b53b5ce3-f826-4b5d-ba23-d27401df83c0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "02b09b37f4a80947d5ee73523cb2395e857666552ba96202e35e42c6e92dc998"
  },
  "id": "VN1j6b28Mhrir55D",
  "tags": []
}
